.App {
  text-align: center;
  /*background: rgba(50, 50, 50, 0.8);*/
  /*background: url("http://cdn.leagueoflegends.com/lolkit/1.1.6/resources/images/bg-default.jpg") no-repeat center center fixed;*/
  background-size: cover;

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 90px;
  padding: 10px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.icon {
  /*border: 1px solid red;*/
  display: inline-block;
  width: 100px;
  height: 100px;
  position: relative;
  cursor: pointer;
  transition: 2s margin-top, 1s opacity;
}

.icon > img {
  width: 90px;
  height: 90px;
  position: absolute;
  top: 5px;
  left: 5px;
  transition: all .25s;
  opacity: .8;
}

.icon > img:hover {
  opacity: 1;
}

.icon > p {
  color: white;
  margin-top: 100px;
}

.icon:hover {
  background-image: linear-gradient(to right, #c2b189 30px, transparent 30px), linear-gradient(to right, #c2b189 30px, transparent 30px), linear-gradient(to bottom, #c2b189 30px, transparent 30px), linear-gradient(to bottom, #c2b189 30px, transparent 30px);
  background-size: 100% 3px, 100% 3px, 3px 100%, 3px 100%;
  background-position: -13px 0%, -13px 100%, 0% -13px, 100% -13px;
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
}