.App {
  text-align: center;
}

/*.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}*/
/*
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}*/

.App-header {
  background: rgba(25, 25, 25, .6);
  height: 90px;
  padding: 10px 0;
  color: white;
  position: fixed;
  width: 100%;
  text-align: center;
  z-index: 3;
}

.App-header img {
  max-width: 90%;
}

.App-header p {
  margin: 10px 0;
  padding: 0;
}

.App-intro {
  font-size: large;
}

.searchContainer {
  position: absolute;
  top: 78px;
  right: 10%;
  width: 150px;
}

.searchInput {
  display: block;
  margin: auto; 
  width: 100%;
  text-align: left;
  font-size: 1em;
  padding: 2px 4px;
}

/*.searchInput:active, .searchInput:hover {
  border: 2px solid #1db7bf;
}*/

.searchClear {
  position: absolute;
  right: -4px;
  top: 5px;
  color: black;
  cursor: pointer;
}

body {
  background-color: black;
  user-select: none;
  cursor: default;
  font-family: 'Open Sans', sans-serif;
}

.btn {
  padding: 5px 10px;
  font-size: 20px;
  text-align: center;
  user-select: none;
  cursor: pointer;
  color: white;
  background-color: #1659b7;
  border: 1px solid #1865d0;
  border-radius: 2px;
  transition: 1s all;
}

.btn:hover {
  background-color: #114691;
}

.backBtn {
  position: absolute;
  top: 65px;
  left: 5%;
  width: 80px;
  height: 35px;
}

.showMore {
  display: block;
  margin: 20px auto;
}

.icon {
  /*border: 1px solid red;*/
  display: inline-block;
  width: 100px;
  height: 100px;
  position: relative;
  cursor: pointer;
  transition: 2s margin-top, 1s opacity;
}

.icon > img {
  width: 90px;
  height: 90px;
  position: absolute;
  top: 5px;
  left: 5px;
  transition: all .25s;
  opacity: .8;
}

.icon > img:hover {
  opacity: 1;
  cursor: pointer;
}

.icon > p {
  color: white;
  margin-top: 100px;
}

.icon:hover {
  background-image: linear-gradient(to right, #c2b189 30px, transparent 30px), linear-gradient(to right, #c2b189 30px, transparent 30px), linear-gradient(to bottom, #c2b189 30px, transparent 30px), linear-gradient(to bottom, #c2b189 30px, transparent 30px);
  background-size: 100% 3px, 100% 3px, 3px 100%, 3px 100%;
  background-position: -13px 0%, -13px 100%, 0% -13px, 100% -13px;
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
}

.champDetail, .champList {
  display: block;

  padding-top: 110px;
}

.champDetailBackground {
  z-index: -1;
  transition: 1s all;
  position: fixed;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
}

.youtubeContainer {
  text-align: left;
  margin: 30px 5%;
}

.youtubeContainer iframe {
  width:560px;
  height:315px;
}

.skinContainer {
  height: auto;
  margin: 20px 0;
  width: 100%;
  /*overflow: hidden;*/
}

.skinDetail {
  transition: 2s margin-left, 1s opacity, .25s border;
  cursor: pointer; 
  width: 100px; 
  height: 180px; 
  display: inline-block;
  border: 2px solid #333;
  background-color: black;
}

.skinDetail:hover {
  border: 2px solid #c2b189;
}

.skinDetail > div {
  position: relative;
  width: 100px; 
  height: 180px; 
  overflow: hidden;
}

.skinDetail img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px; 
  height: 180px; 
  z-index: 1;
  overflow: hidden;
  clip: rect(5px, 95px, 180px, 5px);
}

.skinDetail p {
  position: absolute;
  left: 0;
  top: 123px;
  text-align: center;
  height: 35px;
  width: 94px;
  color: white;
  padding: 3px;
  z-index: 2;
  background: rgba(25, 25, 25, .8);
}






@media (max-width: 600px) {

  .App-header {
    position: relative;
    /*margin: 0;*/
    /*border: 1px solid red;*/
  }

  .App-header p {
    font-size: 1em;
  }

  .searchContainer {
    position: absolute;
    top: 120px;
    left: 0;
    width: 100%;
  }

  .searchInput {
    display: block;
    margin: auto; 
    width: 50%;
    text-align: left;
  }

  .searchClear {
    position: absolute;
    right: 25%;
    top: 5px;
    color: black;
  }

  .champDetail, .champList {
    padding-top: 50px;
  }

  .champDetailBackground {
    z-index: -1;
    transition: 1s all;
    position: fixed;
    top: 0;
    right: 0;
    width: auto;
    height: auto;
    /*height: auto;*/
    max-width: auto;
    max-height: 100%;
  }

  .icon {
    width: 60px;
    height: 60px;
    position: relative;
    margin-bottom: 20px;
  }

  .icon > img {
    width: 56px;
    height: 56px;
    top: 2px;
    left: 2px;
    /*border: 1px solid pink;*/
    position: absolute;
    opacity: 1;
  }

  .icon > p {
    /*border: 1px solid red;*/
    position: absolute;
    top: -40px;
    left: 0px;
    /*margin-top: 62px;*/
    /*height: 50px;*/
    font-size: .7em;
    width: 100%;
    text-align: center;
  }

  .icon:hover {
    background-image: linear-gradient(to right, #c2b189 10px, transparent 10px), linear-gradient(to right, #c2b189 10px, transparent 10px), linear-gradient(to bottom, #c2b189 10px, transparent 10px), linear-gradient(to bottom, #c2b189 10px, transparent 10px);
    background-size: 100% 2px, 100% 2px, 2px 100%, 2px 100%;
    background-position: -5px 0%, -5px 100%, 0% -5px, 100% -5px;
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  }

  .backBtn {
    position: absolute;
    top: 121px;
    left: 0px;
    width: 60px;
    height: 25px;
    font-size: .7em;
  }

  .youtubeContainer {
    text-align: center;
    margin: 10px 0 20px;
    width: 100%;
    height: auto;
    position: relative;
  }

  .youtubeContainer iframe {
    width: 90%;
    height: auto;
  }

  .skinContainer {
    height: auto;
    margin: 20px 0;
    width: 100%;
    /*overflow: hidden;*/
  }

  .skinDetail {
    transition: 2s margin-left, 1s opacity, .25s border;
    cursor: pointer; 
    width: 75px; 
    height: 135px; 
    display: inline-block;
    border: 2px solid #333;
    background-color: black;
  }

  .skinDetail:hover {
    border: 2px solid #c2b189;
  }

  .skinDetail > div {
    position: relative;
    width: 75px; 
    height: 135px; 
    overflow: hidden;
  }

  .skinDetail img {
    position: absolute;
    top: 0;
    left: 0;
    width: 75px; 
    height: 135px; 
    z-index: 1;
    overflow: hidden;
    clip: rect(5px, 95px, 180px, 5px);
  }

  .skinDetail p {
    position: absolute;
    left: 0;
    top: 90px;
    text-align: center;
    font-size: .7em;
    height: 45px;
    width: 71px;
    color: white;
    padding: 3px;
    z-index: 2;
    background: rgba(25, 25, 25, .8);
  }
}

